@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');


* {
    box-sizing: border-box;
    
    padding: 0;
    margin: 0;
}


header {
    min-height: 80vh;
    background-color: #F3EED9;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    max-width: 45rem;

    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.header-title {
    color: #824936;

    font-family: 'Playfair Display';
    font-weight: 900;
    font-size: 3.75rem;
}

.header-description {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1.125;

    text-transform: uppercase;
    letter-spacing: 0.5em;
}