@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');


* {
    box-sizing: border-box;
    
    padding: 0;
    margin: 0;
}


header {
    min-height: 80vh;
    background-color: #F3EED9;

    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-family: 'Playfair Display';
    font-weight: 900;
    font-size: 3.75rem;
}

header p {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1.125;
}