@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


:root {
    --white: #FFFFFF;
    --grey-600: #6F737F;
    --accent-600: #A59678; 

    --steel-blue-800: #3B4050;
    --steel-blue-900: #2E323F;
}


*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


header {
    background-color: var(--steel-blue-900);
}

.primary-navigation {
    list-style: none;
}

/* Utility Classes */
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}