@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


:root {
    --white: #FFFFFF;
    --grey-600: #6F737F;
    --accent-600: #A59678; 

    --steel-blue-800: #3B4050;
    --steel-blue-900: #2E323F;

    --font-oswald: 'Oswald', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;

    --font-size-m: 1.125rem;
}


*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

/* --------- Header --------- */
.primary-header {
    padding: 1em;

    font-family: var(--font-oswald);

    background-color: var(--steel-blue-900);

    justify-content: space-between;
    align-items: center;
}

.primary-navigation {
    list-style: none;
}

.primary-navigation--toggle {
    display: none;
}

.primary-navigation--link {
    font-family: var(--font-oswald);
    font-weight: 600;
    font-size: var(--font-size-m);
    text-transform: uppercase;
    text-decoration: none;
    
    color: var(--white);
}

.primary-navigation--sign-up {
    border-radius: 1em;
    padding: 0.25em 0.75em;
    background-color: var(--accent-600);
}

@media screen and (max-width: 35em)
{
    .primary-navigation--toggle {
        display: block;
        position: absolute;
    
        top: 1rem;
        left: 1rem;
    
        background-color: transparent;
        border: none;
    
        height: 2rem;
        aspect-ratio: 1 / 1;
    }
}


/* --------- Utility Classes --------- */
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}